* {
    box-sizing: border-box;
}
body {
    background-color:#FFD700;
}
.welcome-container {
    display: flex;
    justify-content: center;
}
.welcome {
    display: flex;
    font-size: 70px;
    flex-direction: column;
    justify-content: center;
    height: 850px;  
}
.wel {
    border-top: 5px solid #880808;
    border-bottom: 5px solid #880808;
    color: black;
}
.wel:visited {
    color: black;
}